[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
datetime = "*"
ipdb = "==0.13.5"
flask-bcrypt = "*"
bcrypt = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
